<nav>
        <a href="./task1.html">Matches Happen</a>
        <a href="./task2.html">Matches win per team per year</a>
        <a href="./task3.html">Extra Runs in 2016</a>
        <a href="./task4.html">Best Economical Bowler</a>  
    </nav>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
<script src="./task4.js"></script>

<style>
    nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.8em;
}
</style>